version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - /app/instance # Avoid overwriting db in container if mounted
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
